extends layout.pug

block content
	section#content
		h2= text
		if hint
			p
				i Hint: #{hint};				
		button
			a(href=`?side=${link}`)= linkDisplay
		br
		br
		button
			a(href='/cards') Next Question