doctype html
html(lang="en")
	head
		title List of Friends
	body
		header
			h1 My Friends
		section#content
			table
				tr
					th First Name
					th Last Name
				tr
					td
						each item in firstName
							p= item
					td
						each item in lastName
							p= item

	
		footer
			p A list of my friends